{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}EduInstitute{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap (offline version) -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  {% block extra_head %}{% endblock %}
</head>
<body>
<div class="vh-100">

  {% include "partials/_header.html" %}
  
  <main class="container my-4">
    {% block content %}{% endblock %}
  </main>
  
  {% include "partials/_footer.html" %}
</div>
  

</body>
</html>
